
body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    background-color: #5ce1f4;
    color: #ffffff;
}
.page-container {
    background-position: center, center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.alice-output {
    max-width: 400px;
    padding-top: 200px;
    margin: auto;
    text-align: center;
}

.input-container {
    max-width: 400px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.alice-input, #searchTerm {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px #ffffff;
    background-color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    color: #c2c2c2;
}

.alice-button, #postAlice-btn {
    border-radius: 25px;
    border: none;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 20px #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #c2c2c2;
}

.alice-input:focus {
    outline: none;
}

.alice-button:focus {
    outline: none;
}

#name-input, #name-button, #search-input, #search-button {
    display: none;
}

#alice-speech {
    opacity: 0;
}


header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #b4f2ff;
    text-align: center;
    border-bottom: 5px solid #f4ed46;
}

h1 {
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
}

.quote-buttons-container {
    margin: 10px 20px;
}

.quote-button {
    border: none;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px 20px;
    color: #5ce1f4;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px 2px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


.gifs-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    padding: 20px 0px 80px 0px;
    justify-content: space-between;
}


.gif-tile {
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    margin: auto;
    align-items: stretch;
    width: 100%;
    
    /* width: fit-content; */

}

.gif-image {
    clear: both;
    box-sizing: border-box;
    height: 245px;
    width: 25%;
    margin: 10px;
    max-width: 200px;
}

#postAlice {
    text-align: center;
}

