body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    background-color: #5ce1f4;
    color: #ffffff;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #b4f2ff;
    text-align: center;
    border-bottom: 5px solid #f4ed46;
}

h1 {
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
}

.quote-buttons-container {
    margin: 10px 20px;
}

.quote-button {
    border: none;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px 20px;
    color: #5ce1f4;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px 2px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}


.gifs-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    padding: 20px 0px 80px 0px;
    justify-content: space-between;
}


.gif-tile {
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    margin: auto;
    align-items: stretch;
    width: 100%;
    
    /* width: fit-content; */

}

.gif-image {
    clear: both;
    box-sizing: border-box;
    height: 245px;
    width: 25%;
    margin: 10px;
    max-width: 200px;
}
